<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram Clone</title>

    <link rel="shortcut icon" href="image/logo-instagram.svg" type="image/x-icon">


    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-brand">
                <h3>Instagram</h3>
            </div>
            <div class="header-menu">
                <div class="header-nav">
                    <img src="image/home-outline.svg" alt="home" width="20px" height="20px">
                    <li class="header-list">home</li>
                </div>
                <div class="header-nav">
                    <img src="image/eye-outline.svg" alt="home" width="20px" height="20px">
                    <li class="header-list">search</li>
                </div>
                <div class="header-nav">
                    <img src="image/eye-off-outline.svg" alt="home" width="20px" height="20px">
                    <li class="header-list">explore</li>
                </div>
                <div class="header-nav">
                    <img src="image/chatbox-ellipses-outline.svg" alt="home" width="20px" height="20px">
                    <li class="header-list">messages</li>
                </div>
                <div class="header-nav">
                    <img src="image/notifications-outline.svg" alt="home" width="20px" height="20px">
                    <li class="header-list">notifications</li>
                </div>
                <div class="header-nav">
                    <img src="image/add-circle-outline.svg" alt="home" width="20px" height="20px">
                    <li class="header-list">create</li>
                </div>
                <div class="header-nav">
                    <img src="image/person-circle-outline.svg" alt="home" width="20px" height="20px">
                    <li class="header-list">profile</li>
                </div>
            </div>
            <div class="more">
                <button class="btn">|||</button>
                <span>More</span>
            </div>
        </div>
        <div class="hero">
            <div class="story">
                <div class="story-live">
                    <img src="image/2057146364368890049.jpg" alt="">
                    <span>bereket</span>
                </div>
                <div class="story-live">
                    <img src="image/2596332688943196273.jpg" alt="">
                    <span>anteneh</span>
                </div>
                <div class="story-live">
                    <img src="image/2646965706208422611.jpg" alt="">
                    <span>kirubel</span>
                </div>
                <div class="story-live">
                    <img src="image/2646965706208422612.jpg" alt="">
                    <span>kaleb</span>
                </div>
                <div class="story-live">
                    <img src="image/5127614391175457577.jpg" alt="">
                    <span>abenezer</span>
                </div>
                <div class="story-live">
                    <img src="image/2646965706208422611.jpg" alt="">
                    <span>kirubel</span>
                </div>
                
            </div>
            <div class="posts">
                <div class="post">
                    <div class="post-header">
                        <div class="post-header-name">
                            <img src="image/person-circle-outline.svg" alt="" width="30px" height="30px">
                            <span>Mihret B.</span>
                        </div>
                        <p>...</p>
                    </div>
                    <div class="post-body">
                        <img src="image/Screenshot (17).png" alt="" width="400px" height="550px">
                    </div>
                    <div class="post-footer">
                        <span>Like</span>
                        <span>comment</span>
                    </div>
                </div>
                <div class="post">
                    <div class="post-header">
                        <div class="post-header-name">
                            <img src="image/person-circle-outline.svg" alt="" width="30px" height="30px">
                            <span>Anteneh B.</span>
                        </div>
                        <p>...</p>
                    </div>
                    <div class="post-body">
                        <img src="image/2646965706208422611.jpg" alt="" width="400px" height="550px">
                    </div>
                    <div class="post-footer">
                        <span>Like</span>
                        <span>comment</span>
                    </div>
                </div>
                <div class="post">
                    <div class="post-header">
                        <div class="post-header-name">
                            <img src="image/person-circle-outline.svg" alt="" width="30px" height="30px">
                            <span>bereket B.</span>
                        </div>
                        <p>...</p>
                    </div>
                    <div class="post-body">
                        <img src="image/5127614391175457577.jpg" alt="" width="400px" height="550px">
                    </div>
                    <div class="post-footer">
                        <span>Like</span>
                        <span>comment</span>
                    </div>
                </div>
                 <div class="post">
                    <div class="post-header">
                        <div class="post-header-name">
                            <img src="image/person-circle-outline.svg" alt="" width="30px" height="30px">
                            <span>Mihret B.</span>
                        </div>
                        <p>...</p>
                    </div>
                    <div class="post-body">
                        <img src="image/Screenshot (17).png" alt="" width="400px" height="550px">
                    </div>
                    <div class="post-footer">
                        <span>Like</span>
                        <span>comment</span>
                    </div>
                </div>
                <div class="post">
                    <div class="post-header">
                        <div class="post-header-name">
                            <img src="image/person-circle-outline.svg" alt="" width="30px" height="30px">
                            <span>Anteneh B.</span>
                        </div>
                        <p>...</p>
                    </div>
                    <div class="post-body">
                        <img src="image/2646965706208422611.jpg" alt="" width="400px" height="550px">
                    </div>
                    <div class="post-footer">
                        <span>Like</span>
                        <span>comment</span>
                    </div>
                </div>
                <div class="post">
                    <div class="post-header">
                        <div class="post-header-name">
                            <img src="image/person-circle-outline.svg" alt="" width="30px" height="30px">
                            <span>bereket B.</span>
                        </div>
                        <p>...</p>
                    </div>
                    <div class="post-body">
                        <img src="image/5127614391175457577.jpg" alt="" width="400px" height="550px">
                    </div>
                    <div class="post-footer">
                        <span>Like</span>
                        <span>comment</span>
                    </div>
                </div>
                <span>Back to Top</span>
            </div>
        </div>
        <div class="follow">
            <div class="follow-header">
                <div class="follow-header-profile">
                    <img src="image/person-circle-outline.svg" alt="">
                    <div class="follow-header-name">
                        <p>Beka.T.e.g</p>
                        <p>Beka Tegene</p>
                    </div>
                </div>
                <span>switch</span>
            </div>
            <div class="follow-suggest">
                <div class="follow-suggest-title">
                    <span>Suggestions For You</span>
                    <span>See All</span>
                </div>
                <div class="follow-suggest-body">
                    <div class="suggest-header">
                        <div class="suggest-header-profile">
                            <img src="image/2057146364368890049.jpg" alt="">
                            <div class="suggest-header-name">
                                <p>Beka.T.e.g</p>
                                <p>suggest for you</p>
                            </div>
                        </div>
                        <span>Follow</span>
                    </div>
                    <div class="suggest-header">
                        <div class="suggest-header-profile">
                            <img src="image/2596332688943196273.jpg" alt="">
                            <div class="suggest-header-name">
                                <p>Beka.T.e.g</p>
                                <p>suggest for you</p>
                            </div>
                        </div>
                        <span>Follow</span>
                    </div>
                    <div class="suggest-header">
                        <div class="suggest-header-profile">
                            <img src="image/2646965706208422611.jpg" alt="">
                            <div class="suggest-header-name">
                                <p>Beka.T.e.g</p>
                                <p>suggest for you</p>
                            </div>
                        </div>
                        <span>Follow</span>
                    </div>
                    <div class="suggest-header">
                        <div class="suggest-header-profile">
                            <img src="image/2646965706208422612.jpg" alt="">
                            <div class="suggest-header-name">
                                <p>Beka.T.e.g</p>
                                <p>suggest for you</p>
                            </div>
                        </div>
                        <span>Follow</span>
                    </div>
                    <div class="suggest-header">
                        <div class="suggest-header-profile">
                            <img src="image/5127614391175457577.jpg" alt="">
                            <div class="suggest-header-name">
                                <p>Beka.T.e.g</p>
                                <p>suggest for you</p>
                            </div>
                        </div>
                        <span>Follow</span>
                    </div>
                </div>
            </div>
            <div class="follow-quick">
                <span>about</span>.
                <span>help</span>.
                <span>press</span>.
                <span>API</span>.
                <span>jobs</span>.
                <span>privacy</span>.
                <span>teams</span>.
                <span>location</span>.
                <span>language</span>
            </div>
            <div class="copy"> &copy; 2022 developed by Beka Tegene </div>
        </div>
    </div>
</body>
</html>